html 
    head
        title my mini psl
        link(rel="stylesheet", href="/stylesheets/style.css")
    body
        h1 PAKISTAN SUPPER LEAGUE 
        ul#topMenu 
            li 
                a(href="/")  Home
            li 
                a(href="/totalteams")  Total Teams
            li 
                a(href="/AdminPage")  Admin Sign-In  

        hr
        block content 

        hr
        p this is footer              