html 
    head
        title my mini psl
        link(rel="stylesheet", href="/stylesheets/style.css");
    body
        ul#topMenu 
            li 
                a(href="/")  Home
            li 
                a(href="/total teams")  Total Teams
            li 
                a(href="/adminPage")  Admin Sign-In  

        hr
        block content 

        hr
        p this is footer              