extends master 

block content 
    h2 TOTAL PSL TEAMS
    ul#teamsList 
        li  Karachi Kings
        li  Multan Sultans
        li Peshawar Zalmi
        li Lahore Qalanders
        li Islamabad United
        li Quetta Gladiators