body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1{
  color:red;
  text-align: center;
  font-size: xx-large;
  font-family:cursive;
}

h2{
  color:red;
  text-align: center;
  background-color:bisque;
  font-size: xx-large;
  font-style: oblique;
}
#TopMenu{
  text-align:center;
  background-color: black;
  height:4rem;
}

#TopMenu >li{
  display:inline-block;
  padding:1.5em;
}
#TopMenu >li >a{
  text-decoration: none;
  font-size:x-large;
}

a {
  color:white;
}



#teamsList>li{
  font-size: 2rem;
}
